* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: black;
}

#__next {
  height: 100%;
}

.Index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  user-select: none;
  animation: appear 1.5s cubic-bezier(0.74, 0.32, 0.1, 0.9) 1s forwards,
    flicker 7s linear 3.5s infinite;
  transform: translateY(-100%) scale(0.5) rotateY(25deg);
  opacity: 0;
}

@keyframes appear {
  0% {
    transform: translateY(-100%) scale(0.5) rotateY(25deg);
    opacity: 0;
    filter: blur(5px);
  }
  40% {
    transform-origin: center center;
    transform: scale(1.5) rotateY(-25deg);
    opacity: 1;
    filter: blur(5px);
  }
  100% {
    transform-origin: center center;
    transform: translateY(0) scale(1) rotateY(0);
    opacity: 1;
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    filter: blur(0) contrast(100%) brightness(100%);
    transform: scale(1) rotateZ(0);
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    filter: blur(1px) contrast(120%) brightness(150%);
    transform: scale(1.05) rotateZ(-1deg);
  }
}
